<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Show</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="/css/stylesheet.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="base :: navlinks"></div>
<div class="container">
    <h5>Resume</h5>
    <div class="card">
        <div class="card-body">
            <div th:each="user : ${users}">

                    <img class="img-rounded" th:src="${user.imgUrl}" alt="User image" style="width:10%"/><br/>

            </div><br/>
            <div th:each="cover : ${covers}">
                <Span th:text="${cover.summary}"></Span><br />
            </div><br/>

            <div th:each="user : ${users}">
                    <Span th:text="${user.firstName}"></Span>
                    <Span th:text="${user.lastName}"></Span><br />
                    <Span th:text="${user.email}"></Span><br />
                    <Span><a th:href="@{/editcontact/{id} (id=${user.id})}">Edit</a></Span><br />
             </div><br/>
            <b>Education:</b><br />
            <div th:each="education : ${educations}">
                <Span th:text="${education.major}"></Span>,<Span th:text="${education.school}"></Span>,<Span th:text="${education.gradYear}"></Span><br />
                <Span><a th:href="@{/editeducation/{id} (id=${education.id})}">Edit</a></Span><br />
            </div><br/>

            <b>Experience:</b><br />
            <div th:each="experience : ${experiences}">
                <Span th:text="${experience.jobPosition}"></Span><br />
                <Span th:text="${experience.company}"></Span>,<Span th:text="${experience.duration}"></Span><br />
                Duties: <Span th:text="${experience.duties}"></Span><br />
                <Span><a th:href="@{/editexperience/{id} (id=${experience.id})}">Edit</a></Span><br />
            </div><br/>

            <b>Skills:</b><br />
            <div th:each="skill : ${skills}">
                <Span th:text="${skill.type}"></Span>,<Span th:text="${skill.skillLevel}"></Span><br />
                <Span><a th:href="@{/editskill/{id} (id=${skill.id})}">Edit</a></Span><br />
            </div>

        </div>
    </div>
</div>

<script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>