<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Experience</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="/css/stylesheet.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="base :: navlinks"></div>

<div class="container" >
<form action="#"
      th:action="@{/addexperience}"
      th:object="${experience}"
      method="post">
    <div class="col-3">
        <input type="hidden" th:field="*{id}" />
    </div>
    <div class="col-3">
        <label id="labelExperience"><h5>Add Educational Achievements</h5></label>
    </div>
    <div class="col-3">
        <label id="labelJobPosition">Job Position</label>
        <input type="text" class="form-control" id="textJobPosition" th:field="*{jobPosition}" placeholder="Enter job position"/>
        <span th:if="${#fields.hasErrors('jobPosition')}" th:errors="*{jobPosition}"></span>
    </div>
    <div class="col-3">
        <label id="labelCompany">Company</label>
        <input type="text" class="form-control" id="textCompany" th:field="*{company}" placeholder="Enter Company"/>
        <span th:if="${#fields.hasErrors('company')}" th:errors="*{company}"></span>
    </div>
    <div class="col-3">
        <label id="labelDuration">Duration</label>
        <input type="text" class="form-control" id="textDuration" th:field="*{duration}" placeholder="Enter duration"/>
        <span th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></span>
    </div>

    <!--<div class="col-3">-->
        <!--<label id="labelDuties">Duties</label>-->
        <!--<input type="text-area" class="form-control" id="textDuties" th:field="*{duties}" placeholder="Enter duties"/>-->
        <!--<span th:if="${#fields.hasErrors('duties')}" th:errors="*{duties}"></span>-->
    <!--</div>-->
    <div class="col-6">
        <label id="labelDuties">Duties</label><br/>
        <textarea class="col-6" id="textDuties" th:field="*{duties}" rows="3" placeholder="Enter duties"></textarea>
        <span th:if="${#fields.hasErrors('duties')}" th:errors="*{duties}"></span>
    </div>
<br/>
    <div class="col-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>
<!--<div th:replace="base :: footer"></div>-->
</div>
<script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>