<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>User Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="/css/stylesheet.css" rel="stylesheet"/>

</head>
<body>
<div th:replace="base :: navlinks"></div>
<div class="container" >
<h5>New User Registration</h5>

<form autocomplete="off" action="#" th:action="@{/registration}" th:object="${user}" enctype="multipart/form-data" method="post">
    <!--Category:-->

    <!--<div class="col-3">-->
        <!--<label id="labelusertype">User type</label>-->
        <!--<Select th:field="*{usertype}">-->
            <!--<option value="Applicant" >Applicant</option>-->
            <!--<option value="Employer" >Employer</option>-->
        <!--</Select>-->
        <!--<span th:if="${#fields.hasErrors('usertype')}" th:errors="*{usertype}"></span>-->
    <!--</div><br/>-->
    First Name <mark><strong><span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</span></strong></mark>
                <input type="text" id="firstName" placeholder="First Name" th:field="*{firstName}"/><br />
    Last Name <mark><strong><span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</span></strong></mark>
                <input type="text" id="lastName" placeholder="Last Name" th:field="*{lastName}"/><br />
    Email <mark><strong><span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span></strong></mark>
                <input type="text" id="email" placeholder="Email" th:field="*{email}"/><br />
    Username <mark><strong><span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span></strong></mark>
                <input type="text" id="username" placeholder="Username" th:field="*{username}"/><br />
    Password <mark><strong><span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span></strong></mark>
             <input type="password" id="password" placeholder="Password" th:field="*{password}"/><br />
    <div class="col-3">
        <label id="labelImage">Image</label>
        <input type="file" name="file" />
    </div><br/>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>